.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:users, :index)
      %li=link_to pat(:new), url(:users, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:users)
    .inner
      %table.table
        %tr
          %th.first=mat(:user, :id)
          %th=mat(:user, :twitter_id)
          %th=mat(:user, :screen_name)
          %th=mat(:user, :token)
          %th=mat(:user, :secret)
          %th=mat(:user, :team_id)
          %th=mat(:user, :point)
          %th=mat(:user, :is_admin)
          %th=mat(:user, :invited_by)
          %th=mat(:user, :created_at)
          %th=mat(:user, :updated_at)
          %th.last="&nbsp;"
        -@users.each do |user|
          %tr
            %td.first=user.id
            %td=user.twitter_id
            %td=user.screen_name
            %td=user.token
            %td=user.secret
            %td=user.team_id
            %td=user.point
            %td=user.is_admin
            %td=user.invited_by
            %td=user.created_at
            %td=user.updated_at
            %td.last
              =button_to pat(:edit), url(:users, :edit, :id => user.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:users, :destroy, :id => user.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')"
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")