.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:supporters, :index)
      %li.active=link_to pat(:new), url(:supporters, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:supporter)
    .inner
      -form_for :supporter, url(:supporters, :create), :class => :form do |f|
        =partial "supporters/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")