.group
  =f.label :audition_id
  =f.error_message_on :audition_id
  =f.text_field :audition_id, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :user_id
  =f.error_message_on :user_id
  =f.text_field :user_id, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :title
  =f.error_message_on :title
  =f.text_field :title, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :display_order
  =f.error_message_on :display_order
  =f.text_field :display_order, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:candidates, :index)}';return false", :class => :button