.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:candidates, :index)
      %li.active=link_to pat(:new), url(:candidates, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:candidate)
    .inner
      -form_for :candidate, url(:candidates, :create), :class => :form do |f|
        =partial "candidates/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")